@use './utilities/' as *;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.6rem;
	background-color: $background-color;
	color: $text-color;
	overflow: hidden;
}

.navbar {
	position: absolute;
	top: 0;
	right: 0;

	&__burger {
		padding: 2em;
		cursor: pointer;
		.burger-box {
			position: relative;
			display: inline-block;
			top: 1em;
			width: 40px;
			height: 24px;
			.burger-bar,
            .burger-bar:after,
			.burger-bar:before {
				position: absolute;
				display: block;
				right: 0;
				top: 0;
				height: 3px;
				width: 40px;
				background-color: $text-color;
                border-radius: 3px;
			}
            .burger-bar:after,
			.burger-bar:before {
				content: '';
			}

            .burger-bar:after {
                top: 20px;
                width: 60%;
            }

            .burger-bar:before{
                top: 10px;
                width: 80%;
            }
		}
	}

	&__list {
		position: absolute;
		top: 0;
		left: 150%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		width: 100vw;
		background-color: $background-color;
		font-size: 2.5rem;
	}

	&__item {
		padding: 2em;
	}

}

.header {
	&__background-block {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 50vw;
		background-color: $highlight-color;
		z-index: -1;
	}

    &__box {
        &--large {
            display: none;
        }

        &--small {
            display: block;
        }

        &-logo {
            box-shadow: 0 0 20px $background-color;
        }
    }


	&__arrows-box {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
	}

	&__arrow {
		&--bigger {
            margin-bottom: -3.5em;
		}

	}
}


@import './large';